.list-container{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #efefef;
}

.list-container h1{
  margin: 50px;
  font-size: 48px;
  margin-bottom: 5px;
  color: #121212

}
.list{
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
}
.item{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin-left: 60px;
  }
.item li{
  display:flex;
  width: 90%;
  max-width: 600px;
  margin-bottom: 8px;
  height: 50px;
  list-style: none;
}
.item strong{
  margin: 8px;
  color: #121212
}
.item span{
  margin: 8px;
  color: #000
}
.item svg{
  flex-direction: row;
  color: #06184c;
  background: transparent;
  margin-left: auto;
  border: none;
  margin-top: 12px;
  cursor: pointer;
 
}
.list-container a{
  text-decoration: none;
  cursor: pointer;
  color: #121212
}